.pokemon-list {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.pokemon-list article {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    width:130px;
    transition: all 0.1s;
    margin: 5px;
    display: block;
    justify-content: center;
    align-items: center;
}

.pokemon-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.pokemon-list article:hover {
    background: #da552f;
    color: #ffffff;
}

.pokemon-list article strong {
    display: flex;
    justify-content: center;
    align-items: center;
}
